.h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../images/books-5937716_1920.jpg);
    background-repeat: no-repeat;
}
.first{text-align: center;
    background: transparent;
    display: inline-block;
    padding: 8px;
    margin-top: -5px;
    border-top: 30px solid black;
    border-bottom: 30px solid black;
    border-radius: 10px;
    margin-left: 489px;
    color: #1a0909;
}
.second{
    text-transform: capitalize;
    background: #cacaff;
    text-align: center;
}
.main{display: inline-flex;
    background: #89afaf;
    width: 100%;
}
.main img{
    width:400px;
    height: 300px;
}
.main button{
    font-size: 16px;
    padding: -7x;
    margin-top: 22px;
    padding: 8px;
    background: #17174a;
    color: beige;
    border-radius: 4px;
    margin-left: 187px;
}
.one{width: 400px;
    padding: 12px;
}
.one h1{
    text-align: center;
    margin-left: 43px;
}
.one p{}
.one img{margin-left: 29px;
}
.two{
    width: 400px;
    padding: 12px;
}
.two h1{
    text-align: center;
    margin-left: 49px;
}
.two p{}
.two img{margin-left: 31px;
}
.three{
    width: 400px;
    padding: 12px;
}
.three h1{
    text-align: center;
    margin-left: 54px;
}
.three p{}
.three img{margin-left: 35px;
}
.coming{
    background: #000000cc;
    color: whitesmoke;
}

.coming h1{
    font-size: 31px;
    margin-top: 0px;
    padding-top: 111px;
    font-size: zzz;
    padding-left: 14px;
}
.coming p{}
.coming button{
    margin-left: 1013px;
    margin-bottom: 31px;
    font-size: 25px;
    text-transform: capitalize;
    padding: 15px 47px;
    background: olivedrab;
    border: 4px solid white;
    border-radius: 5px;
    color: white;
}
.coming button:hover{
background: yellow;
color: black;
}
.hor{
    border: 2px solid yellow;
    width: 222px;
    height: 12px;
    background: yellow;
    border-radius: 15px;
    margin-right: 893px;
    margin-top: -40px;

}
.hori{
    width: 122px;
    height: 12px;
    border-radius: 15px;
    margin-right: 973px;
    margin-top: -23px;
    margin-left: 315px;
    background: #000000cc;
}
.ok{
    font-size: 20px;
    color: red;
    margin-top: 11px;
}